body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(207, 34, 230),rgb(120, 120, 235));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 45px;
}
input{
    width: 75px;
    border-style: none;
    height: 50px;
    font-size: 45px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    color: black;
}
input:hover {
    background-color: yellow;
    cursor: pointer;
}
.f1{
    background-color: rgb(231, 142, 82);
    margin-left: 35%;
}